* {
  margin: 0;
  padding: 0;

  font-family: arial;
}

body {
  background: #171923;
  max-width: 805px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: self-start;
}

input[type="file"] {
    display: none;
}

nav ul {
  display: flex;
  background: #2d3748;
}

nav ul li {
  list-style: none;
  min-width: 100px;
  font-size: 14px;
  position: relative;
}

nav ul li h4 {
  padding: 0.5rem 1rem;
  color: #e2e8f0;
  cursor: pointer;
  font-weight: 100;
}

nav ul li h4:hover {
  filter: brightness(0.9);
}

.archive:hover .submenu {
  display: flex;
  flex-direction: column;

  position: absolute;
}

.submenu {
  display: none;
}

.submenu h4 {
  background: #4a5568;
}

#interval-control {
  background: #1a202c;
  background-size: 50px 50px;
  background-image: linear-gradient(to right, #222832a6 1px, transparent 1px),
    linear-gradient(to bottom, #222832a6 1px, transparent 1px);
}

.y-scale {
    height: 400px;
    width: 30px;
    background: linear-gradient(to bottom, white, black);
}

