#erasermodal {
  width: 100%;
}

#erasermodal .options {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 1rem;
}

#eraser_pincel {
  position: absolute;
}

#erasermodal .options .options_pencil label {
  color: white;
  display: flex;
  gap: 1rem;
}

#erasermodal .options input[type="number"] {
  width: 50px;
}

#erasermodal .options div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#erasermodal .options label {
  color: white;
}

#erasermodal .options .values {
  display: flex;
  gap: 1rem;
  align-items: center;
}