#histogram-window {
  background: #1a202c;
  background-size: 50px 50px;
  background-image: linear-gradient(to right, #222832a6 1px, transparent 1px),
    linear-gradient(to bottom, #222832a6 1px, transparent 1px);
}

#histogram {
  background: #262f41;
}

#histogram .options {
  padding: 1rem;
  display: flex;
  width: fit-content;
  gap: 2rem;
  width: 100%;
}

#histogram .options label {
  color: white;
}

#histogram .options .filters label, #histogram .options > label {
  color: white;
  display: flex;
  gap: 1rem;
}
