textarea,
input[type="number"] {
  background: var(--primary-700);
  border: 1px solid var(--primary-200);
  outline: none;
  color: var(--secondary-100);
  padding: 0.2rem;
}

input[type="number"] {
  width: 70px;
}
.value {
  text-align: right;
}

.range-label {
  display: grid !important;
  grid-template-columns: 1fr 35px;
  align-items: center;
}

input[type="range"] {
  width: -webkit-fill-available;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  background: var(--primary-700);
  border: 1px solid var(--primary-200);
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--secondary-100);
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: var(--secondary-100);
  cursor: pointer;
}

textarea {
  resize: none;
}

label {
  color: var(--secondary-100);
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

label.textarea {
  color: var(--secondary-100);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

button {
  color: var(--secondary-100);
  background: var(--primary-700);
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  border: 1px solid var(--primary-200);
}
