nav ul {
  display: flex;
  align-items: center;
  background: #2d3748;
  height: 35px;
}

nav ul li {
  list-style: none;
  font-size: 14px;
  position: relative;
  padding: 0.5rem 1rem;
}

nav ul li a {
  color: #e2e8f0;
  cursor: pointer;
  font-weight: 100;
}

nav ul li a:hover {
  filter: brightness(0.9);
}

nav ul li.archive:hover .submenu, 
nav ul li.transform:hover .submenu, 
nav ul li.geometric_transform:hover .submenu, 
nav ul li.filter:hover .submenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 2rem;
  left: 0;
  z-index: 10;
}

nav ul li .submenu {
  display: none;
  background: #4a5568;
  width: max-content;
}

nav ul li .submenu hr {
  color: #262f415e;
}


nav ul li .submenu span {
  text-transform: uppercase;
  font-size: 9px;
  font-weight: 700;
  color: black;
  letter-spacing: 2.8px;
  padding: 0.5rem 1rem;
}

nav ul li .submenu div{
  padding: 0.5rem 1rem;
  cursor: pointer;
}

nav ul li .submenu div:hover {
  background: #262f415e;
}

input[type="file"] {
  display: none;
}
