#piecewise {
  background: #222832a6;
  border: none;
}

#piecewise-linear-window {
  background: #1a202c;
  background-size: 49px 49px;
  background-image: linear-gradient(to right, #222832a6 1px, transparent 1px),
    linear-gradient(to bottom, #222832a6 1px, transparent 1px);
  grid-area: graph;
}

#axis-x {
  background-image: linear-gradient(to bottom, white, black);
  width: 8px;
  height: 392px;

  grid-area: axis-x;
}

#axis-y {
  background-image: linear-gradient(to left, white, black);
  width: 392px;
  height: 8px;
  grid-area: axis-y;
  margin-left: 8px;
}

#piecewise > div {
  display: grid;
  grid-template-areas:
    "axis-x graph"
    "axis-y axis-y";
}

#piecewise .options {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 1rem;
}

#piecewise .options input {
  width: 50px;
}

#piecewise .options div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#piecewise .options div label {
  color: white;
}
