.popup {
  background: var(--primary-500);
  border: 1px solid var(--primary-200);
  border-radius: 9px;
  min-width: 300px;
  position: absolute;
  overflow: hidden;
  top: 64px;
  left: 32px;

  display: none;
}

.hgpopup {
  display: block;
  left: calc(100vw - 366px);
}

.popup .content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.popup .content p {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  overflow: hidden;
  -webkit-box-orient: vertical;
  max-width: 400px;
}

.popup .buttons {
  display: flex;
  justify-content: space-between;
}

.popup .header {
  padding-top: 1rem;
}

.popup .header h3 {
  color: var(--secondary-100);
  text-align: center;
}

.popup__options {
  display: flex;
  justify-content: flex-end;
  background: var(--primary-700);
  padding: 0.5rem;
  gap: 0.5rem;
}

.popup__options i {
  font-weight: 900;
  color: var(--secondary-100);
  cursor: pointer;
}

.popup .content .options {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.popup .content .options div {
  display: flex;
  gap: 0.5rem;
}

.popup .content .options .rgb_filters {
  display: flex;
  gap: 1rem;
}
