#steganography {
    background: #1a202c;
    width: 400px;
    border: none;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    box-sizing: border-box;
  }
  
  #steganography > div{
    display: flex;
    gap: 1rem;
  }
  
   textarea{
    resize: vertical;
    background: #222832a6;
    outline: none;
    color: white;
    border-color: #080a10;
    padding: 0.5rem;
  }
  
  #steganography label{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    font-size: 14px;
    margin-bottom: 0.5rem;
  }

  #steganography .options{
    justify-content: space-between;
    display: flex;
    gap: 1rem;
  }