* {
  margin: 0;
  padding: 0;

  font-family: arial;
}

body {
  background: #262f41;
}

section {
  display: grid;
  grid-template-columns: auto 1fr;
  height: calc(100vh - 35px);
  justify-items: end;

  position: relative;
}

section .content {
  display: flex;
  width: 100%;
}


section .content.right {
  position: fixed;
  right: -400px;
  width: 440px;

  flex-direction: row-reverse;
  transition: all 0.2s ease-in-out;
}

section .content.content.right .expand {
  width: 40px;
  height: 40px;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #1a202c;
  border: 1px solid #1a202c;
  color: #f6f6f6;
  cursor: pointer;
  border-radius: 7px 0 0 7px;
  font-size: 25px;
}

section .content.middle {
  justify-content: center;
  align-items: center;
}

section .content.left {
  background: #1a202c;
  align-items: baseline;
  flex-direction: column;
  min-width: 400px;
}

button {
  background: #2d3748;
  border: 1px solid #262f41;
  padding: 0.3rem .5rem;
  color: #f6f6f6;
  cursor: pointer;
  border-radius: 7px;
  font-size: 12px;
}

button:hover {
  filter: brightness(0.9);
}

.modal {
  display: none;
  flex-direction: column;
}

