#transformations {
  background: #1a202c;
  padding: 1rem;
  width: 400px;
  box-sizing: border-box;
}

#transformations h3 {
  margin-bottom: 1rem;
  color: white;
}

#transformations label {
  justify-content: space-between;
  color: white;
  display: flex;
  gap: 1rem;

  margin-bottom: 1rem;
}

.input {
  background: #222832a6;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.input input {
  width: 50px;
}

.input label {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1.3rem;
  color: white;
}

