#transformations {
  background: #1a202c;
  padding: 1rem;
  width: 400px;
  box-sizing: border-box;
}

#transformations h3 {
  margin-bottom: 1rem;
  color: white;
}

#transformations label {
  justify-content: space-between;
  color: white;
  display: flex;
  gap: 1rem;

  margin-bottom: 1rem;
}

.input {
  background: #222832a6;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.input input {
  width: 50px;
}

.input label {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1.3rem;
  color: white;
}

.picker {
  width: 400px;
  display: flex;
}

.picker #picked-color {
  background: rgb(0, 255, 1);
  width: 290px;
  height: 100%;
}

.picker .right-element {
  height: 217px;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.picker .right-element .options {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 1rem;
  width: 100%;
}

.picker .right-element .options label {
  display: grid;
  grid-template-columns: 100px 1fr;
  color: white;
  text-align: right;
  gap: 1rem;
}

.picker .right-element .buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}